<h1>Archives</h1>
  
  <% @posts.each do |post| %>
    <%= post.user.name %>
    <%= link_to post.user.name, user_path(post.user) %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
        <%= link_to post.title, post %>
        </h4>
        <%= link_to post.title, post_path(post)  %>
        <small>
        submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><br/>
        <%= post.comments.count %> Comments
        </small>
      </div>
    </div>
<% end %>