<h1>All Posts</h1>
  <%= link_to "New Post", new_post_path, class: 'btn btn-success' %>
  
  <% @posts.each do |post| %>
    <%= post.user.name %>
    <%= link_to post.user.name, user_path(post.user) %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
        <%= link_to post.title, topic_post_path(post.topic, post) %>
        </h4>
        <%= link_to post.title, topic_post_path(post.topic, post)  %>
        <small>
        submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><br/>
        <%= post.comments.count %> Comments
        </small>
      </div>
    </div>
<% end %>

